In [3]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_excel(r"Lab Session1 Data.xlsx" ,sheet_name="Purchase data")

In [5]:
data.head()

,Customer,Candies (#),Mangoes (Kg),Milk Packets (#),Payment (Rs),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Candy,Mango,Milk
0,C_1,20,6,2,386,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,55.0,18.0
1,C_2,16,3,6,289,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C_3,27,6,2,393,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C_4,19,1,2,110,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C_5,24,4,2,280,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.drop(data.columns[5:],axis=1,inplace=True)

In [7]:
data

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

In [8]:
y=data['Payment (Rs)'].values

In [9]:
y.shape

(10,)

In [10]:
z=data['Payment (Rs)']

In [11]:
data.drop(data.columns[:1],axis=1,inplace=True)

In [12]:
data.drop(data.columns[3:],axis=1,inplace=True)

In [13]:
matrix=data.values

In [14]:
matrix

array([[20,  6,  2],
       [16,  3,  6],
       [27,  6,  2],
       [19,  1,  2],
       [24,  4,  2],
       [22,  1,  5],
       [15,  4,  2],
       [18,  4,  2],
       [21,  1,  4],
       [16,  2,  4]], dtype=int64)

In [15]:
rank=np.linalg.matrix_rank(matrix)

In [16]:
print(rank)

3

In [25]:
mat_in=np.linalg.pinv(matrix)
print(mat_in)

[[-0.01008596 -0.03124505  0.01013951  0.0290728   0.0182907   0.01161794
  -0.00771348  0.00095458  0.01743623 -0.00542016]
 [ 0.09059668  0.07263726  0.03172933 -0.09071908 -0.01893196 -0.06926996
   0.05675464  0.03152577 -0.07641966  0.00357352]
 [ 0.00299878  0.15874243 -0.05795468 -0.06609024 -0.06295043  0.03348017
   0.01541831 -0.01070461  0.00029003  0.05938755]]

In [18]:
mat_in.shape

(3, 10)

In [19]:
x=np.matmul(mat_in,y)

In [20]:
print(x)

[ 1. 55. 18.]

In [21]:
data['category']=z.apply(lambda x: 'RICH' if x >200 else 'POOR' )

In [22]:
data['Payment (Rs)']=z

In [23]:
data

   Candies (#)  Mangoes (Kg)  Milk Packets (#) category  Payment (Rs)
0           20             6                 2     RICH           386
1           16             3                 6     RICH           289
2           27             6                 2     RICH           393
3           19             1                 2     POOR           110
4           24             4                 2     RICH           280
5           22             1                 5     POOR           167
6           15             4                 2     RICH           271
7           18             4                 2     RICH           274
8           21             1                 4     POOR           148
9           16             2                 4     POOR           198